{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 2%; padding-bottom: 3%">
        <div class="row">
            <div class="col">
                <h1 class="text-center">All articles for {{ name }} : </h1>
                {% for article in articles %}
                    <div>
                        <h2>{{ loop.index }} / {{ article.title }}</h2><h5>Category : {{ name }}</h5>
                        <p>{{ article.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <div class="col text-right">
                <a href="{{ path('homepage') }}">
                    Back to homepage.
                </a>
            </div>
        </div>
    </div>
{% endblock %}

