{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}


{% block body %}
    <div class="container" style="padding-top: 2%; padding-bottom: 3%">
        <div class="row">
            {{ form_start(form) }}
            {{ form_row(form.searchField) }}
            <button type="submit" name="btnSearch">Rechercher</button>
            {{ form_end(form) }}

        </div>


        <div class="row">
            <div class="col">
                <h1 class="text-center">All articles from article's table</h1>
                {% for article in articles %}
                    <div>
                        <h2>{{ loop.index }} / <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a></h2>
                        <h5><i>Category : {{ article.category.name }} /
                                Tag :

                                {% for tag in article.tags %}
                                    #{{ tag.name }}
                                {% endfor %}
                            </i>
                        </h5>
                        <p>{{ article.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="row">
            <div class="col text-right">
                <a href="{{ path('homepage') }}">
                    Back to homepage.
                </a>
            </div>
        </div>
    </div>
{% endblock %}