{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ slug }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 2%; padding-bottom: 3%">
        <div class="rows">

            <div class="col text-center">
                <h1>{{ article.title }}</h1></div>
            <div class="row">
                <div class="col">
                    <h5>Category : {{ article.category.name }}</h5>

                    <p>{{ article.content }}</p>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col text-right">
                <a href="{{ path('homepage') }}">
                    Back to homepage.
                </a>
            </div>
        </div>
    </div>

{% endblock %}