{% extends 'base.html.twig' %}

{% block title %}All Tag{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 2%; padding-bottom: 3%">
        <div class="row">
            <div class="col">
                <h2>All articles from <i>#{{ tag.name }}</i> tag : </h2>
                {% for article in articles %}
                    <h4>art.{{ article.id }} / {{ article.title }}</h4>
                    <p>{{ article.content }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col text-right">
                <a href="{{ path('homepage') }}">
                    Back to homepage.
                </a>
            </div>
        </div>
    </div>
{% endblock %}